<style>
    .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #fff);
	background: -webkit-linear-gradient(#fff, #fff);
	background: -o-linear-gradient(#fff, #fff);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #12a654;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #12a654;
	-webkit-box-shadow: 1px 1px 3px #12a654;
	box-shadow: 1px 1px 3px #12a654;
}
.close:hover { background: #12a654; }*/
</style>

<div class="slider-area2 slider-area4 slider-height2 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center pt-50">
                    <h2><span style="color: #12a654;">| </span>Tus Mascotas Extraviadas, Hurtadas y
                        Halladas</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="row">

        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center shadow-lg p-3 mb-5 bg-white rounded"
                style="border: none; !important">
                <p>Queremos que encuentres a tu mascota. Publicala aquí para que la encuentren pronto</p>
                <a href="/busca/add-extraviado" class="genric-btn default circle"
                    style="background: #12a654; color: white;">¡Publicar!</a>
            </div>
        </div>
    </div>

    <div class="row">
        {{#each seBusca}}
        <div class="col-md-3">
            <br>
            <div class="card text-center shadow p-2 mb-5 bg-white rounded" style="border: none; !important">
                <div class="card-body">
                    <h3 class="card-title text-uppercase" style="color: #12a654;; font-weight: bold;">
                        Se Busca
                    </h3>
                    <img src="{{foto_seBusca}}" class="img-fluid" alt="foto de mascota">
                    <p align="center" style="color: #12a654;">{{tipo_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Nombre:</span> {{nombre_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Especie:</span> {{especie_mascota_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Raza:</span> {{raza_seBusca}} {{otra_especie_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Edad:</span> {{edad_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Visto en:</span>
                        {{ubicacion_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Características:</span>
                        {{caracteristica_seBusca}}
                    </p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Teléfono:</span> {{telefono_seBusca}}</p>
                    <p class="m-1" align="left"><span style="color: #12a654;">Recompensa:</span> {{recompensa_seBusca}}
                    </p>
                    <br>
                    <!-- <p>{{timeago created_at}}</p> -->
                    <a href="#openModal"  class="genric-btn danger-border">Eliminar</a>
                 <!-- ESTE ES EL BUENO   <a href="/busca/delete/{{id}}" class="genric-btn danger-border">Eliminar</a> -->
                    <!--<a href="mascotas/edit/{{id}}" class="genric-btn primary">Editar</a>-->
                        <div id="openModal" class="modalDialog">
                            <div class="text-center">
                                <a href="#close" title="Close" class="close">X</a>
                                <h1>¡Mascota Encontrada!</h1>
                                <p class="mt-4">Si estás buscando eliminar la publicación de tu Mascota Extraviada, nos estás confirmando que esta encontró su hogar.</p>
                                <a href="/busca/delete/{{id}}" class="genric-btn danger-border">Encontró su hogar</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <br>
        {{else}}

        {{/each}}
    </div>
</div>